In [32]:
# !/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on 20180510

@author: zhangji
"""

%pylab inline
pylab.rcParams['figure.figsize'] = (18.5, 10.5)

import numpy as np
import pandas as pd
import post_support_fun as psf
import os
import glob
from matplotlib import pyplot as plt
from IPython.display import display, HTML

PWD = os.getcwd()
fontsize = 40
np.set_printoptions(linewidth=110, precision=5)

Populating the interactive namespace from numpy and matplotlib

In [44]:
dir_name = 'infhlx_20180510'

t_dir = os.path.join(PWD, dir_name)
txt_names = glob.glob('./%s/*.txt' % dir_name)

maxtheta = []
ntheta_fct = []
nnode = []
resistance = []

for txt_name in txt_names:
    with open(txt_name, 'r') as ftxt:
        FILE_DATA = ftxt.read()
    
    text_headle = 'cut of max theta '
    temp1 = psf.read_array(text_headle, FILE_DATA, array_length=1)
    maxtheta.append(temp1)
    
    text_headle = '# of segment '
    temp2 = psf.read_array(text_headle, FILE_DATA, array_length=1)
    ntheta_fct.append(temp2 / temp1)
    
    text_headle = '# of node '
    temp1 = psf.read_array(text_headle, FILE_DATA, array_length=1)
    nnode.append(temp1)
    
    text_headle = '\[ '
    temp1 = psf.read_array(text_headle, FILE_DATA, array_length=6)
    resistance.append(temp1)
    
resistance = np.vstack(resistance).T
data = pd.DataFrame({'maxtheta': np.hstack(maxtheta), 
                    'ntheta_fct': np.hstack(ntheta_fct), 
                    'nnode': np.hstack(nnode), 
                    'Fx': resistance[0], 
                    'Fy': resistance[1], 
                    'Fz': resistance[2], 
                    'Tx': resistance[3], 
                    'Ty': resistance[4], 
                    'Tz': resistance[5]})\
        .pivot_table(index=['nnode', 'ntheta_fct'], columns=['maxtheta'])

In [45]:
display(data.Tz)

maxtheta              10.0       50.0       100.0      500.0      1000.0   \
nnode   ntheta_fct
100.0   1.0         24.423602  15.468002  14.094539  12.527232  12.692366
        10.0         3.608764   2.550685   2.271983   1.822724   1.683209
        100.0        3.685065   2.582677   2.292880   1.827053   1.682939
500.0   1.0         15.139220  18.680592  16.375983  14.509180  14.224281
        10.0         3.621915   2.563672   2.285620   1.837715   1.698612
        100.0        3.684679   2.582436   2.292683   1.826917   1.682819
1000.0  1.0         27.041074  17.923751  16.253976  14.537871  14.106201
        10.0         3.603003   2.551548   2.276458   1.833838   1.696358
        100.0        3.684325   2.582209   2.292490   1.826771   1.682687
5000.0  1.0         27.854161  17.857708  16.342095  14.489514  14.144269
        10.0         3.384656   2.291165   2.017517   1.599777   1.475678
        100.0        3.682838   2.581228   2.291640   1.826111   1.682078
10000.0 1.0         27.806147  17.820192  16.927738  14.491274  14.156580
        10.0         3.115507   1.103198  -1.625173   3.292331   2.605466
        100.0        3.683372   2.581539   2.291918        NaN        NaN
20000.0 1.0         28.150539  17.285110  16.402355  14.394815  14.164351
        10.0         2.520066   4.058287   3.067184   2.207714        NaN
        100.0        3.685292   2.582732   2.292969        NaN        NaN

maxtheta              5000.0     10000.0
nnode   ntheta_fct
100.0   1.0          6.131930  11.503322
        10.0         1.434635   1.350828
        100.0        1.427015   1.340995
500.0   1.0         13.550469 -25.058684
        10.0         1.450694   1.367077
        100.0        1.426921   1.340908
1000.0  1.0         13.432447  13.342722
        10.0         1.451171   1.368412
        100.0        1.426809   1.340803
5000.0  1.0         13.471196  13.092328
        10.0         1.259765   1.188165
        100.0             NaN        NaN
10000.0 1.0         13.481266  13.299419
        10.0         1.923027        NaN
        100.0             NaN        NaN
20000.0 1.0         13.455747        NaN
        10.0              NaN        NaN
        100.0             NaN        NaN